[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.103.1"
# FastAPI requirement for form data.
python-multipart = "==0.0.6"
uvicorn = {version = "==0.30.1", extras = ["standard"]}

[requires]
python_version = "3.11"
