[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ddtrace = "==2.3.2" # Do not upgrade this until memory leak issue is resolved in later versions.
fastapi = "==0.103.1"
# FastAPI requirement for form data.
python-multipart = "==0.0.6"

[requires]
python_version = "3.11"
